body{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    font-family: Arial, sans-serif;
    background: linear-gradient(135deg, #4facfe, #00f2fe);
}
.container {
    text-align: center;
    border: 2px solid #ccc;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
        background: linear-gradient(45deg, #ff9a9e, #fad0c4);

}   
#startBtn, #stopBtn  {
    background-color: #4CAF50;
    color: white;
    padding: 10px 20px;
    margin: 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
}
#startBtn:hover, #stopBtn:hover {
    background-color: #7545a0;
}

#startBtn1{margin :10px; }
#startBtn1:hover {
    background-color: #7545a0;
}   
#textArea {
    width:75vh ;
    height: auto;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
    resize: none;
}
#clearBtn, #saveBtn  {
    background-color: #4c42e0;
    color: white;
    padding: 10px 20px;
    margin: 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
}
#clearBtn:hover, #saveBtn:hover {
    background-color: #7545a0;
}   
.card {
  border: 1px solid #ccc;
  padding: 10px;
  margin: 10px auto;
  width: 60%;
  background: #f9f9f9;
  border-radius: 5px;
}

.card p {
  margin: 0 0 10px;
}

.deleteBtn {
  background: red;
  color: white;
  border: none;
  padding: 5px 10px;
  cursor: pointer;
}
.deleteBtn:hover {
  background: darkred;
}